{% extends 'basic.html' %}
{% load static %}
{% block below-nav %}
<div class="full-image">
    <img src="{% static 'images/team avitra vit.jpg' %}" alt="" width="100%;">
</div>
<div data-spy="scroll" data-target=".navbar">
    <div class="row">
        <div class="col-lg-10 col-12" data-target="#navbar-example3">
            <div id="content1">
                <div class="fluid-container scroll-content-border">
                    <div class="scroll-content">
                        <center style="font-size:3vw;"><b>Team Avitar</b></center>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="container">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <iframe class="embed-responsive-item my-5 mx-5"
                                                src="{% static 'videos/Team aVITar_s Instagram photo_ _Coming S O O N _te(MP4).mp4' %}"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 my-5 text-justify">
                                <p class="text-justify container" style="font-size:3vh;">Team AVITAR is a group of
                                    automobile enthusiasts who indigenously design and
                                    fabricate
                                    an All Terrain Vehicle each year to participate in various competitions across
                                    the
                                    nation like BAJA SAEINDIA, ATVC, etc. The team comprises of undergraduates from
                                    various
                                    engineering disciplines like mechanical, electrical and computer science coming
                                    together
                                    to achieve a common goal of delivering perfection and reach the pinnacle of
                                    glistening
                                    glory with hard work and perseverance.Team AVITAR is the first M-BAJA team of
                                    VIT Bhopal University.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content2">
                <div class="fluid-container scroll-content-border">
                    <div class="scroll-content">
                        <h1 class="text-center">Our Team</h1>
                        <p class="text-justify container" style="font-size:3vh;">
                            The team comprises of two major divisions Technical and Non-technical departments which
                            are further subdivided into Roll Cage,Steering,Powertrain, Brakes and Suspension in the
                            technical category, and Software Development, Marketing, and Sponsorship in the
                            non-technical category
                        </p>
                    </div>
                </div>
            </div>
            <div id="content3">
                <div class="fluid-container" style="height:500px;border:5px solid blue;">vision
                </div>
            </div>
            <div id="content4">
                <div class="fluid-container" style="height:500px;border:5px solid blue;">this is content 4
                </div>
            </div>
            <div id="content5">
                <div class="scroll-content-border">
                    <div class="container scroll-content">
                        <h1 class="text-center">Founders</h1>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="card">
                                    <div class="image-container">
                                        <img class="images"
                                             src="{% static 'images/WhatsApp Image 2020-07-08 at 7.15.57 PM (1).jpeg' %}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card
                                                title and make up the bulk of the card's content.
                                            </p>
                                        </div>
                                        <div class="middle">
                                            <h1>John Doe</h1>
                                            <p>Instagram</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="image-container">
                                    <div class="card">
                                        <img class="images"
                                             src="{% static 'images/WhatsApp Image 2020-07-08 at 7.15.56 PM (1).jpeg' %}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make
                                                up the bulk of the card's content.</p>
                                        </div>
                                        <div class="middle">
                                            <h1>John Doe</h1>
                                            <p>Instagram</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                            <p>Face book</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="image-container">
                                    <div class="card">
                                        <img class="images"
                                             src="{% static 'images/WhatsApp Image 2020-07-08 at 7.15.57 PM (1).jpeg' %}"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the
                                                card
                                                title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>

                                <div class="middle">
                                    <h1>John Doe</h1>
                                    <p>Instagram</p>
                                    <p>Face book</p>
                                    <p>Face book</p>
                                    <p>Face book</p>
                                    <p>Face book</p>
                                    <p>Face book</p>
                                </div>
                            </div>
                            </div></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 "  style="position:fixed;right:0;">
            <nav class="navbar navbar-example3 responsive-font">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#buttons_data">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <span class="navbar-text">About Us</span>
                        <a class="nav-link active my-2" href="#content1"> Introduction</a>
                        <a class="nav-link my-2" href="#content2">Our Team</a>
                        <a class="nav-link my-2" href="#content3">Our Vision</a>
                        <a class="nav-link my-2" href="#content4">Our Mission</a>
                        <a class="nav-link my-2" href="#content5">Founders</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}