{% extends 'basic.html' %}
{% load static %}
{% block below-nav %}
<div style="height:50px;">

</div>
<form action="" method="post">
    <!--    <input type="email" id="email" oninput="email_input()">-->
</form>
<div class="container">
    <form autocomplete="off" >
        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="name" class="form-control" oninput="name_input()" onkeyup="this.value=this.value.toUpperCase()">
            <label for="name">Full Name</label>
        </div>
        <div class="md-form">
            <i class="fas fa-envelope prefix"></i>
            <input type="email" id="email" class="form-control" oninput="email_input()">
            <label for="email">E-mail address</label>
            <p id="text" class="red-text ml-5 mt-n2"> </p>
        </div>
        <div class="md-form">
            <i class="fas fa-pencil-alt prefix"></i>
            <textarea id="texts" class="md-textarea form-control" rows="3" oninput="text_input()"
                      style="height: 170px;overflow-y: scroll;" maxlength="1000" ></textarea>
            <label for="texts">Text</label>
            <p id="text-text" class="ml-5 mt-n1"> </p>
        </div>
        <input type="submit" class="" id="button" value="submit" disabled>
    </form>
</div>
<script src="{% static 'js/contact_us.js' %}"></script>
{% endblock %}